/*Reset CSS*/
:root {
  --blanco: #FFF;
  --negro: #111111;
  --gris-oscuro: #222222;
  /* Tipografía */
  --font-family-titles: 'Rubik', sans-serif;
  --font-family-paragraph: Arial, Helvetica, sans-serif;
  --h1-titles: 2.2rem;
  --h2-titles: 2.0rem;
  --h3-titles: 1.6rem;
  --paragraph: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  background: var(--blanco);
  color: var(--negro);
  line-height: 1.4em;
  transition: .5s ease all;
}

body.dark{
    background: var(--negro);
    color: var(--blanco);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f2f2f2;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    position: fixed;
    width: 100%;
    font-family: var(--font-family-titles);
    font-weight: 500;
    font-size: 1.2rem;
    top: 0;
    color: var(--negro);
    z-index: 99;
}

body.dark .navbar{
    background-color: var(--gris-oscuro);
    color: var(--blanco);
}

.navbar__logo{
    width: 80px;
}

body.dark .navbar__logo{
    filter: invert(1);
}

.navbar__list{
    display: none;
}

.nav__rigth__hamburguer{
    cursor: pointer;
}

body.dark .nav__rigth__hamburguer{
    filter: invert(1);
}

.mobileMenu{
    padding: 24px;
    right: 0;
    width: 100%;
    background-color: var(--blanco);
    position: absolute;
    top: 100px;
}

body.dark .mobileMenu{
    background-color: var(--gris-oscuro);
}

.mobileMenu__list{
    margin-top: 20px;
}

.inactive {
    display: none;
}

.mobileMenu__elements{
    margin-bottom: 20px;
}

.switch{
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active{
    background: orange;
    color: var(--negro);
}

.switch.active::after{
    right: 0;
    left: unset;
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 31px;
    display: block;
    background: none;
    color: var(--blanco);
}

.redesSociales{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    gap: 20px;
}

body.dark .redesSociales{
    filter: invert(1);
}

.redesSociales__img{
    width: 60px;
}


.dudleyDelgado{
    display: flex;
    height: 85vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 90px;
}

.dudleyDelgado__title{
    font-size: var(--h1-titles);
    font-family: var(--font-family-titles);
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.0;
}

.dudleyDelgado__subtitle{
    font-size: var(--h2-titles);
    font-family: var(--font-family-titles);
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.0;
}

.dudleyDelgado__paragraph{
    font-family: var(--font-family-paragraph);
    font-weight: 300;
    padding: 0 20px;
}

.dudleyDelgadoRigth{
    background-color: #EEEEEE;
    border-radius: 50%;
    width: 270px;
    height: 270px;

}

.dudleyDelgadoRigth__img{
    width: 270px;
    position: relative;
    bottom: 35px;
    border-radius: 50%;
}

.aboutMe{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 80px 30px;
}

body.dark .aboutMe{
    background-color: var(--gris-oscuro);
}

.aboutMe__title{
    font-size: var(--h2-titles);
    font-family: var(--font-family-titles);
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

.aboutMe__paragraph{
    text-align: justify;
    font-size: var(--paragraph);
    font-family: var(--font-family-paragraph);
    line-height: 1.4;
}

.aboutMe__paragraph--paragraph{
    margin-bottom: 20px;
}

.aboutMe__list{
    font-size: var(--paragraph);
    font-family: var(--font-family-paragraph);
    line-height: 1.2;
}

.aboutMe__skills{
    margin-left: 20px;
    list-style-type: circle;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.skills__title{
    font-size: var(--h2-titles);
    font-family: var(--font-family-titles);
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
}

.skills__icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.skills__containerIcon{
    background-color: var(--negro);
    padding: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__containerIcon:hover{
    background-color: orange;
    transition: .5s ease all;
}

body.dark .skills__containerIcon{
    background-color: var(--gris-oscuro);
}

body.dark .skills__containerIcon:hover{
    background-color: orange;
    transition: .5s ease all;
}


.skill__icon{
    font-size: 4rem;
    color: var(--blanco);
}

.project{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 60px 0;
}

body.dark .project{
    background-color: var(--gris-oscuro);
}

.project__title{
    font-size: var(--h2-titles);
    font-family: var(--font-family-titles);
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

.projects__titles{
    font-size: var(--h3-titles);
    font-family: var(--font-family-titles);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 500;
}


.projects__img{
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.projects__icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.projects__miniIcons{
    margin-top: 20px;
    font-size: 2rem;
}

       /*FORM*/

       .contact-me-form{
        align-items: center;
        background-color: var(--blanco);
        display: flex;
        justify-content: center;
        height: 90vh;
       }

       body.dark .contact-me-form{
        background-color: var(--negro);
    }

       .form {
        background-color: var(--negro);
        border-radius: 20px;
        box-sizing: border-box;
        height: 600px;
        padding: 40px;
        width: 90%;
        margin-top: 50px;
      }
      

      body.dark .form{
        background-color: var(--gris-oscuro);
    }
      
      .title {
        font-size: var(--h2-titles);
        font-family: var(--font-family-titles);
        margin-bottom: 20px;
        font-weight: 700;
        color: var(--blanco);
        line-height: 1.2;
      }
      
      .subtitle {
        color: var(--blanco);
        font-family: var(--font-family-paragraph);
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
      }
      
      .input-container {
        height: 50px;
        position: relative;
        width: 100%;
      }
      
      .ic1 {
        margin-top: 40px;
      }
      
      .ic2 {
        margin-top: 30px;
      }
      
      .input {
        background-color: var(--blanco);
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: var(--black);
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
      }
      
      .cut {
        background-color: var(--negro);
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 76px;
      }

      body.dark .cut{
        background-color: var(--gris-oscuro);
    }
      
      .cut-short {
        width: 50px;
      }
      
      .input:focus ~ .cut,
      .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
      }
      
      .placeholder {
        color: #65657b;
        font-family: sans-serif;
        left: 20px;
        line-height: 14px;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
      }
      
      .input:focus ~ .placeholder,
      .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
      }
      
      .input:not(:placeholder-shown) ~ .placeholder {
        color: #808097;
      }
      
      .input:focus ~ .placeholder {
        color: #dc2f55;
      }
      
      .submit {
        background-color: #4a4d61;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        // outline: 0;
        text-align: center;
        width: 100%;
      }
      
      .submit:active {
        background-color: #06b;
      }

      /*FOOTER*/

      .footer-container{
        background-color: var(--negro);
        color: var(--blanco);
        padding: 50px 0;
      }

      body.dark .footer-container{
        background-color: var(--gris-oscuro);
    }

      .footer-child{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
      }

      .footer-child:last-child{
        display: none;
      }

      .footer-child i{
        color: white;
        font-size: 1.8rem;
        margin-right: 10px;
        cursor: pointer;
      }




@media (min-width: 992px){
    .nav__rigth__hamburguer{
        display: none;
    }

    .mobileMenu{
        display: none;
    }

    .navbar{
        font-size: 1.6rem;
    }

    .navbar__list{
        display: flex;
        gap: 100px;
        align-items: center;
    }

    .switch__desktop{
        background-color: #343D5B;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
    }
    
    .switch__desktop::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #F1F1F1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
    }
    
    .switch__desktop.active{
        background: orange;
        color: var(--negro);
    }
    
    .switch__desktop.active::after{
        right: 0;
        left: unset;
    }
    
    .switch__desktop span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: var(--blanco);
    }

    .navbar__enlaces:hover{
        border-bottom: 2px solid var(--negro);
    }

    body.dark .navbar__enlaces:hover{
        border-bottom: 2px solid var(--blanco);
    }

    .dudleyDelgado{
        display: flex;
        height: 80vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 70px;
    }

    .dudleyDelgado__title{
        font-size: 3.8rem;
        margin-bottom: 40px;
        text-align: left;
    }
    
    .dudleyDelgado__subtitle{
        font-size: 2.0rem;
        margin-bottom: 40px;
        text-align: left;
    }
    
    .dudleyDelgado__paragraph{
        font-size: 1.8rem;
        text-align: left;
        padding: 0;
    }

    .dudleyDelgadoRigth{
        width: 400px;
        height: 400px;
    }
    
    .dudleyDelgadoRigth__img{
        width: 400px;
        bottom: 50px;
    }

    .skills{
        padding: 80px 0 150px 0;
    }

    .skills__title{
        margin-bottom: 100px;
    }

    .skills__icons{
        grid-template-columns: repeat(6, 1fr);
        gap: 50px;
    }

    .skills__containerIcon{
        width: 150px;
        height: 150px;
    }

    .skill__icon{
        font-size: 5rem;
    }

    .projects__titles{
        margin-top: 10px;
    }

    .projects__img{
        width: 350px;
        height: 250px;
        cursor: pointer;
        filter: grayscale(90%);
        transition: .4s;
    }

    .projects__img:hover{
        filter: none;
        transform: scale(1.1);
       }

    .projects__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        padding: 0 20px;
    }

    body.dark .container__child{
        width: 85%;
        box-shadow: 5px 5px 10px 5px #0c0c0c;
        border-radius: 10px;
        padding: 10px 0;
        margin: auto;
    }

    .form {
        background-color: var(--negro);
        border-radius: 20px;
        box-sizing: border-box;
        height: 600px;
        padding: 50px;
        width: 60%;
        margin-top: 0;
      }

      .footer-container{
        display: flex;
        justify-content: space-around;
      }

      .footer-child:last-child{
        display: flex;
      }
}